.main_container {
    background-image: url('../assets/login_pic4.jpg');
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
}

.left_main {
    padding: 50px 60px;
}

.right_main {
    padding: 50px 60px;
}

.info_left {
    font-family: 'Lato';
    font-weight: 700;
    line-height: 24px;
    color: white;
    font-size: 28px;
    font-style: bold;
}

.desc_left {
    font-family: 'Lato';
    font-weight: 400;
    line-height: 24px;
    color: white;
    font-size: 14px;
    font-style: normal;
    text-align: justify;
}

.background_right {
    background-color: #292b2c;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100%;
    color: white;
    padding-bottom: 50px;
}

.title_login {
    padding: 10px 20px;
    color: black;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-size: 14px;
}

.title_login > span {
    padding-left: 10px;
}

.username {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.password {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.box_login {
    background-color: #eaeaea;
    border-radius: 30px;
    padding: 20px;
}